.about
    @extend .section
    &__in
        @extend .in
        display: flex
        padding: 133px 0
    &__img-wrapper
        width: 680px
    &__img
        width: 100%
        display: block
    &__text-block
        box-sizing: border-box
        padding-left: 45px
        flex: 1
    &__title
        color: $text-dark
        font-size: 45px
        text-transform: uppercase
        letter-spacing: 0.02em
        margin: 0 0 45px
    &__text
        font-size: 15px
        color: $text-light
        line-height: 23px
        letter-spacing: 0.14em
        margin: 0 0 45px
    &__read-more
        font-size: 13px
        text-transform: uppercase
        color: $text-dark
        text-decoration: none
        letter-spacing: 0.12em