// Media query screen sizes
$mobile-portrait: 320px
$mobile-landscape: 480px
$tablet-portrait: 600px
$tablet-landscape: 768px
$middle-desktop: 1024px
$large-desktop: 1360px

// Collors variables
$main-bg: #f3f3f3
$background-gradient: linear-gradient(to right, #f3f3f3 8%,#ffffff 100%)
$text-dark: #1a2631
$text-light: #6c6c6c


// Common styles
html,
body
    height: 100%

body
    font-family: "Baron_Neue_Regular"
    font-weight: normal

.wrapper
    box-sizing: border-box
    min-height: 100%
    overflow: hidden
    background: $main-bg
    padding: 35px
    @include respond-to(tablet-landscape)
        padding: 0


.in
    position: relative
    box-sizing: border-box
    margin: 0 auto
    max-width: 1300px
    padding: 133px 15px
    @include respond-to(middle-desktop)
        max-width: 960px
        padding: 100px 15px
    @include respond-to(tablet-landscape)
        max-width: 768px
        padding: 30px 15px
    @include respond-to(tablet-portrait)
        max-width: 100%

.section
    position: relative
    margin: 0 auto 35px
    max-width: 1920px
    background: $background-gradient